doctype html
html ( lang = "en" )
    head
    title pageTitle
    body
        h1 Pug - шаблонизатор узлов #container .col if youAreUsingPug
            p Вы просто великолепны else
            p Давай !
    Pug - это краткий и простой язык шаблонов с упором на производительность и мощные функции.